doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title TKPPL|Teknik Kolaborasi Pengembangan Perangkat Lunak

    link(rel='stylesheet', type='text/css', href='build/build.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Courgette')
    
    script(src='./Scripts/SoalJawaban.js')
    script(src='./Scripts/Timer.js')
    script(src='./Scripts/GamePlay.js')

  body(onload = "GameStart()")

    article

      section#uniquefont
        h1 Welcome
        h2 To
        h2 Our
        h2 Final Project

      section
        h2.bullet Presented by :
        ul
          li Julius Stefen - 15.111.0113
          li Erwin - 15.111.0555
          li Kevin -15.111.2271
          li Billy - 15.111.2921

      section
        h2.bullet Peraturan Kuis-Kuis Sulit :
        ul
          li Jika benar mendapat nilai 100
          li Jika salah tidak mendapat nilai
          li Jika tidak menjawab berarti tidak tahu
          li Mengganggu ketertiban dan jalannya permainan dikurangi 50 poin
          li Pemain memiliki 2 bantuan untuk setiap pertanyaan
          li 1 bantuan untuk 1 kata dan 1 bantuan untuk 2 kata

      section
        h2 KKS Lontong
        div.logo
            img(src="images/lontong.png")        
        
      section
        h2 Are
        h3.bullet You Ready?
        ul
          li#countdown.tiga 3
          li#countdown.dua 2
          li#countdown.satu 1


      section
        div.container
            h1#intface Game Interface
            div.row
                div.col
                    h2#ply1 Player 1
                div.col
                    h3#score1 Score
                div.col#figureP1
                    figure
                    img.pic(src="images/p1.png")
                    
                div.col
                    form
                        input#input1(type="text" autocomplete = "off" onkeypress = "Jawab(event,document.getElementById('input1').value.toString().toUpperCase())")
                   
            div.row2
                div.col2
                    div.soal#soal
                div.col2
                    div.box#box
                div.row3#help
                        input#help1(type="button", value="Bantuan 1 huruf" onclick='Bantuan1Huruf()')
                        input#help2(type="button", value="Bantuan 2 huruf" onclick='Bantuan2Huruf()')
                    div.pilihSoal
                        input#back(type="button", value="Pilih Soal" onclick="TampilGame()")
                div.col2
                    div.icon#result
                div.col2#unique2
                    div.box2#box2
                        
                      
            div.row
                div.col
                    h2#ply2 Player 2
                div.col
                    h3#score2 Score
                div.col#figureP2
                    figure
                    img.pic(src="images/p2.png")
                    
                div.col
                        input#input2(type="text" autocomplete = "off" onkeypress = "Jawab(event,document.getElementById('input2').value.toString().toUpperCase())")
                        
                        
      section
        div.container
            h1#intface Final Score :
            div.row
                div.col
                    h2#ply1 Player 1          
                div.col
                    figure#figureP1
                    img.pic(src="images/p1.png")
                div.col
                    h3#finalscore1 Score   
                      
            div.row
                div.col
                    h4 Winner :
                    div.win#winner
            
            div.row
                div.col
                    h2#ply2 Player 2         
                div.col
                    figure#figureP2
                    img.pic(src="images/p2.png")
                div.col
                    h3#finalscore2 Score
                              

      section
        h2.bullet Thank You 
        ul
            li For the attention
            li Enjoy our simple game
            li And have a happy life :)
            
    script(src='build/build.js')